
# Principios de Python

En cada una de las celdas que siguen use la combinación **Ctrl + Enter** para evaluar el contenido de la celda y visualizar el resultado de la última expresión en la celda.

También puede usar **Alt + Enter** para evaluar la celda e insertar una celda vacía debajo.

## La función *print()*
La función de *print()* muestra la cadena de valor dentro de los paréntesis en la pantalla.

In [ ]:
print('¡Hola Mundo!')
print('¿Cual es tu nombre?')
print('Mi edad es '+str(19))
print('El proximo año tendré '+str(19+1))

## Operadores entre valores/variables:
*  **+** Suma.  Tambien sirve para concatenar cadenas de texto
*  **-** Resta
*  **\*** Multiplicación
*  **/** División
*  **//** división Entera
*  **%** Módulo
*  **\*\*** Potencia

In [ ]:
print('Penny..'*5)

In [ ]:
Nombre='James'
Apellido='Bond'
print('Mi nombre es ' + Apellido + ', ' + Nombre + ' ' + Apellido + '.')

In [ ]:
print('Mi nombre es %s, %s %s.' % (Apellido, Nombre, Apellido))

# Asignación de Variables y elementos básicos del lenguaje

In [ ]:
# Esto es un comentario
# el comentario sigue
# y sigue
# Un comentario no tiene ningún efecto (no produce ningún resultado) solo se usa
# para documentar.

In [ ]:
# Asignación de variables
una_variable_entera = 5
una_variable_float =  2.3 
una_cadena = "texto que se pone entre comillas"
un_booleano = True 
una_variable_nula = None

In [ ]:
# mostrar el contenido de una variable o el resultado de una expresión:

print( una_cadena )

print( 2 + 5 - 3 )

Para saber cual es el tipo de una variable solo se debe usar la función **type()**

In [ ]:
print( type( una_variable_entera ) )
print( type( una_cadena ) )
print( type( una_variable_nula ) )

In [ ]:
# Siempre es posible reasignar una variable, es decir,
# el valor asignado (bound) a una variable se puede cambiar en cualquier momento, incluso a otro tipo de datos

una_variable_float = "esto en realidad no es un float"  
print( una_variable_float )

**Ejercicio**:  escriba código que imprima los valores de las  expresiones:
*  7 / 2
*  7 // 2
y luego imprima los tipos de las mismas.

In [ ]:

print(  )
print( type() )



print(  )
print( type() )

# Tipos de Datos

Así como todos los lenguajes de programación, python tiene tipos de datos para representar la información que procesa.

la variables de python se definen por el valor que contienen más no por la definición del mismo.  Veámos un ejemplo:

In [ ]:
a = 2
print(type(a))

a = "esto es una cadena de caracteres"
print(type(a))

Como puede observar, el tipo de la variable a en una primera ocasión es **int** (entero), mientras que en el segundo caso es **str** (string).  El tipo de cada variable está definido por el valor al cual se le ha asignado.  A continuación se muestran los tipos de datos básicos en python

## Números

Los números enteros en python se representan mediante **int** mientras aquellos números que poseen decimales son **float**. En python 2.7 existe un tipo de dato llamado long (enteros grandes).  Pero en versión 3.7, int toma ambos tipos de datos (enteros pequeños y grandes).

Entre números se pueden hacer muchas operaciones fácilmente, tales como suma, resta, división, poencia, módulo.

In [ ]:
# suma
a = 2 + 2
print(type(a))

# resta
b = 2.7 - 3.5
print(type(b))

# división 
c = 6/3
print(type(c))

Note que en la división, el tipo de dato de la variable siempre es **float**, asi el resultado sea un valor entero.   Además de la división normal también se encuentra la división floor. (en lugar del símbolo **/** , se usa doble:

In [ ]:
## compare con la operación "floor" división sin decimales
d = 7 / 5
print("División normal " + str(d))
print(type(d))

d = 7 // 5
print("División floor " + str(d))
print(type(d))

d = 7 % 5
print("Operación Módulo " + str(d))
print(type(d))

In [ ]:
# multiplicación

a = 8 * 8
print(a)
print(type(a))

# Potencia

a = 8 ** 8
print(a)
print(type(a))

Las operaciones entre numeros siempre retornaran el tipo de dato que pueda albergar el valor resultante, por ejemplo

2 + 3 + 4.5

siempre será un tipo float, ya que alberga a los enteros y a los decimales.

In [ ]:
a = 2 + 3 + 4 + 5
print(type(a))

a = 2 + 3 + 4.5
print(type(a))

## Strings 

Adicional a números , python puede representar cadenas de caracteres como strings (tipo de dato : **str**).  Los strings pueden ser representados de muchas maneras como se muestra a continuación:

In [ ]:
a = 'texto con comilla sencilla'
b = "texto con comilla doble"
c = """
    la triple comilla me permite definir textos
    que se separen
    en 
    varias líneas
"""

print("los tipos de datos son {0}, {1}, {2}".format(type(a)  , type(b) , type(c)) )

Como puede observar las 3 variables anteriores quedan bien definidas con el mismo tipo de dato.  Así mismo puede ver la función format la cual se explicará en detalle más adelante.  Si desea incluir una comilla dentro de una cadena definida por comillas, use el caracter de escape **\** :

In [ ]:
a = "Texto con comilla doble y con \" dentro del texto"
print(a)

In [ ]:
# El operador +  sirve para concatenar cadenas 
print(' "concatenación" ' + "de" + " cadenas.\tPor: " + una_cadena)

Note que en el texto se encuentra el caracter **\\t**.  PAra encontrar una lista de este tipo de caracteres especiales puede referirse a este [Cheat Sheet](https://rosettacode.org/wiki/Special_characters#Python)

La concatenación de textos se hace con el operador **\+**, sin embargo a diferencia de otros lenguajes, el operador concatena solo strings, así que hay que usar un **cast** a string antes de concatenar:

In [ ]:
# Esto deebe generar un error
print("cadena más el número " + 25)

In [ ]:
# Esto no genera un Error
print("cadena más el número " + str(25))

Las cadenas de texto internamente se representan como listas de caracteres individuales, por lo que acceder a un caracter o a un subconjunto de caracteres se hace por medio de sintaxis de corchetes, por ejemplo:

In [ ]:
# para extraer un caracter de la cadena 
# Recordar que las listas estan indexadas por 0 es decir, comienzan por cero hasta len(cadena)-1
print( "Texto Original: "+ una_cadena)
print( "tamaño de texto: " + str(len(una_cadena)))
print( una_cadena[0] )  # primer caracter 
print( una_cadena[1] )  # segundo caracter 
print( una_cadena[2] )  # tercer caracter

In [ ]:
# Extraer una subcadena (también conocido como slice o tajada)
print( una_cadena[7:21] )

In [ ]:
# Esto genera error (porque?)
print( una_cadena[32] )

In [ ]:
# Se puede extraer caracteres o subconjunto de caracteres y asignarlos a variables
c1 = una_cadena[0] 
print( c1 )
c2 = una_cadena[7:21]
(c1, c2) # construyo una tupla para recoger dos resultados

Los textos/strings tienen muchas funciones útiles a la hora de trabajar con ellos, tales como manejo de mayúsculas, minúsculas, separar palabras, eliminar espacios entre muchas otras.   Por ejemplo:

In [ ]:
# Hay muchas funciones predefinidas en para cadenas: 

una_cadena = """La masacre de las bananeras fue una matanza de los trabajadores de la United Fruit Company \
que se produjo entre el 5 y el 6 de diciembre de 1928 en el municipio de Ciénaga, Magdalena \
cerca de Santa Marta (Colombia). 
"""

print( una_cadena.lower() )
print( una_cadena.upper() )

#separar el texto por un caracter o cadena de caracteres"
print( una_cadena.split(" "))

print()

# Eliminación de espacios
una_cadena2 = """    esta cadena tiene espacios atras y adelante    """
print( ">" +  una_cadena2.strip() + "<")
print( ">" + una_cadena2.rstrip() + "<")
print( ">" + una_cadena2.lstrip() + "<")

Uno puede hacer uniones con listas de textois, por ejemplo cuando quiere separar una lista por comas, usando la funcion **join**.  (imagínese que es una función inversa al **split**:

In [ ]:
lista_cadenas = ["texto1" , "texto2" , "texto3", "texto4"]

a = ",".join(lista_cadenas)
print(a)

Usted puede encontrar un subconjunto de caracteres en otro utilizando la función **find()**.  La función devuelve la posición del texto.  Si no encuentra la cadena el resultado es -1.

In [ ]:
cad = "Un número indefinido de trabajadores murieron después de que el gobierno de Miguel Abadía Méndez decidió poner fin a una huelga de un mes organizada por el sindicato de los trabajadores que buscaban garantizar mejores condiciones de trabajo"

pos1 = cad.find("fin")
pos2 = cad.find("Fin")

print(pos1 , pos2)

**Ejercicio:** Utilice los conceptos antes descritos para que el texto definido en la celda de abajo quede con todas las palabras con la primera letra de la palabra quede en mayósculas y el resto en minúsculas (puntos adicionales si lo puede hacer en una línea):

In [ ]:
texto = "El 28 de noviembre de 1928 estalló una gran huelga en la zona bananera de Ciénaga, una huelga masiva jamás vista en el mundo. Más de 25 000 trabajadores de las plantaciones se negaron a cortar los bananos producidos por la United Fruit Company y por productores nacionales bajo contrato con la compañía."
print(texto)


nuevo_txt = # Ponga aqui su respuesta
print()
print(nuevo_txt)

**Ejercicio**: Escriba código que imprima una cadena formada los primeros tres caracteres de la cadena "_La increible y triste historia de la cándida eréndira_" concatenados  con los últimos 8 caracteres de la misma cadena.

In [ ]:
texto = "La increíble y triste historia de la cándida Eréndira y de su abuela desalmada"
print(texto)


nuevo_txt = # Ponga aqui su respuesta
print()
print(nuevo_txt)

### Formato de texto
Aunque los string solo se pueden concatenar con string, existe la funcion **format()** la cual permite añadir valores al texto a partir de expresiónes o de variables.  Esto permite poder definir, por ejemplo, plantillas de texto que cambian con valores de la ejecución.  Algúnos ejemplos:

In [ ]:
txt1 = "Éste es un texto con {} caracteres"
print( txt1.format(len(txt1))  )
print()

txt2 = "Select * from tabla1 where campo1 = {} and campo2 = '{}'"
print( txt2.format(5 , "BOGOTÁ") )

Note que el reemplazo se hace en órden del formato, dado que no estamos especificando ningun tiñpo de orden en el texto.  Esto se puede índicar por medio de indices en los parámetros del texto:

In [ ]:
txt1 = """Patria Boba es el período de la historia de Colombia comprendido entre la promulgación del Acta de \
Independencia del 20 de {2} de {1} y el inicio del Régimen del Terror en {0}. Los eventos posteriores \
al grito de independencia estuvieron signados por la división, los conflictos entre provincias, \
las guerras intestinas y el desorden institucional. """

print(txt1)
print()

start = 1810
end = 1816
month = "Julio"

print( txt1.format(end , start , month ) )

Adicionalmente se pueden especificar nombres de variables y formatearlas.  Mire como cambia el texto original, que en lugar de tener índices, contiene dentro de las llaves, nombres de variables:

In [ ]:
txt1 = """Patria Boba es el período de la historia de Colombia comprendido entre la promulgación del Acta de \
Independencia del 20 de {month} de {start} y el inicio del Régimen del Terror en {end}. Los eventos posteriores \
al grito de independencia estuvieron signados por la división, los conflictos entre provincias, \
las guerras intestinas y el desorden institucional. """

print(txt1)
print()

inicio = 1810
fin = 1816
mes = "Julio"

print( txt1.format(start = inicio , end = fin , month = mes) )

Un texto podría tener muchísimas variables por lo que especificar las variables una a una en la función format podría no ser lo ideal.  Es posible utilizar un diccionario (tipo de datos que vemos más adelante) para enviar todos los valores de las variables de una vez!

In [ ]:
pies = 194

dicc = { "start" : inicio,
         "end" : fin ,
         "month" : mes ,
         "otra_var" : 3874239
       }

print( txt1.format(**dicc) )

## Listas
Adicionalmente a los tipos básicos, python tiene tipos de datos compuestos, los cuales se definen como tipos de tatos compuestos de otros tipos de datos (Un nombre más adecuado sería **estructuras de datos**).  Una de éstas estructuras y tal vez la más común y versátil es la lista.

Una lista se define como una lista de valores separados por comas entre corchetes.  Los valores dentro de la lista pueden ser de distintos tipos:

In [ ]:
una_lista = [ 17, "segundo elemento", [ "a", "b"], 42.5 ]
una_lista

Para acceder al valor de un elemento, se usa el corchete en la variable.  Asi mismo puede utilizar el _slicing_ como se vió en la sección de strings:

In [ ]:
l1 = una_lista[1]
l2 = una_lista[ 2:4 ]
print(l1)
print(l2)

Una lista puede contener cualquier tipo de datos, incluyendo otras listas y tipos complejos:

In [ ]:
anidada = [ [1,2,3], [4,5,6,8] , {"a":1,"b":3} ]
anidada[1][3]

In [ ]:
# los índices pueden ser negativos, obseve el resultado de lo siguiente:
cuadrados = [1,4,9,16,25]
cuadrados[-1]

In [ ]:
# también se puede utilizar slicing con negativos:
cuadrados[-3:]

In [ ]:
# Se pueden reemplazar los valores aludiendo as u indice:
cuadrados = [1,4,9,17,25]

# 17 está mal, reemplacemos
cuadrados[3] = 4 ** 2
cuadrados

Se puede definir una lista vacía e ir agregando valores con la función **append()**.

In [ ]:
vacia = []

cuatro = 4.0

vacia.append(1)
vacia.append(2)
vacia.append("3")
vacia.append( cuatro )

vacia

Aunque las cadenas de texto se comportan como listas, son inmutables , es decir, no se pueden modificar de la misma manera que una lista.  La última expresión del cuadro siguiente genera error.

In [ ]:

tx1 = """Gaitán se forjó una reputación como orador y defensor de causas populares, \
que consolidó gracias a sus intervenciones en el debate sobre la Masacre de las Bananeras de 1928."""

print( tx1[10] )
print( tx1[7:35] )
print( tx1[-5:] )

# Esta expresión genera error
tx1[10] = "e"

In [ ]:
#para saber el tamaño de una lista se usa la función len
len(tx1)

#para recorrer una lista se puede usar el comando for:
for elem  in vacia : 
    print( "elemento : {0}".format(elem))